html {
  font-size: 62.5%;
}

/* We can add font weight inside a family here 300 and size 11px and line height 1.4 */

body {
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", "sans-serif";
  color: #fff89a;
  background-color: #ffb2a6;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
